@font-face
{
    font-family: 'Roboto';
    src: url('/public/Police/Roboto/Roboto-Regular.ttf') format('trueType');
    font-weight: normal;
    font-style: normal;
}

body
{
    font-family: 'Roboto', sans-serif;
}
