.location
{
    @media (max-width:320px)
    {
        background-color: #EAEAEA;
        display: flex;
        justify-content: center;
        color: #353535;
    }

    &__icone
    {
        @media (max-width: 320px)
        {
            padding-right: 10px;
        }
    }
}

.explorestau
{
    @media (max-width:320px)
    {
        height: 285px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #F6F6F6;
        text-align: center;
        color: #353535
    }

    &--gras
    {
        padding-top: 5%;
        margin-bottom: 0%;
        font-size: 25px;
        font-weight: bold;
    }

    &__btn
    {
        margin-top: 5%;
        margin-left: -6%;
    }
}

.fonction
{
    @media (max-width:320px)
    {

    }

    &__liste
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 260px;
    }

    &__carte
    {
        &__icone
        {
            padding-right: 8%;
        }

        &__numero--1
        {
            position: absolute;
            background-color: $couleur_primaire;
            color: white;
            padding: 3px 8px;
            border-radius: 50%;
            left: 2.5%;
            top: 62.7%;
        }

        &__numero--2
        {
            position: absolute;
            background-color: $couleur_primaire;
            color: white;
            padding: 3px 8px;
            border-radius: 50%;
            left: 2.5%;
            top: 74.7%;
        }

        &__numero--3
        {
            position: absolute;
            background-color: $couleur_primaire;
            color: white;
            padding: 3px 8px;
            border-radius: 50%;
            left: 2.5%;
            top: 86.7%;
        }

        padding-top: 3%;
        padding-left: 10%;
        padding-bottom: 3%;
        border-radius: 18px;
        width: 80%;
        background-color: #F6F6F6;
        font-weight: bold;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

    &--gras
    {
        font-size: 25px;
        font-weight: bold;
        margin-top: 15%;
        padding-left: 5%;
    }
}

.restaurants
{
    @media (max-width:320px)
    {
        background-color: #F6F6F6;
        margin-top: 11%;
        height: 1360px;
    }

    &--gras
    {
        padding-left: 5%;
        padding-top: 15%;
        font-size: 20px;
        font-weight: bold;
    }

    &__liste
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__carte
    {
        margin-bottom: 6%;
        width: 90%;
        display: flex;
        flex-direction: column;
        &__img
        {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            width: 100%;
        }
        
        &__aside
        {
            margin-top: -1%;
            background-color: white;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-left: 4%;
            padding-right: 6%;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        }

        &__info
        {
            display: flex;
            flex-direction: column;

            &--gras
            {
                font-weight: bold;
                margin-bottom: -5%;
            }

            &--heart
            {
                font-size: 25px;
            }
        }
        
    }
}

.footer
{
    @media (max-width:320px)
    {

        display: flex;
        flex-direction: column;
        background-color: #353535;
        color: white;
        padding-left: 9%;
        padding-top: 5%;
        padding-bottom: 10%;
        justify-content: space-between;
        height: 174px;

        &--lien
        {
            text-decoration: none;
            color: white;

        }

        & > i
        {
            padding-right: 1%;
        }
    }
}