.header__lien
{
    position: $absolute;
    left: 5%;
    top: 3.5%;
    font-size: 20px;
    text-decoration: $rien;
    color: $gris--fonce;
    @include header__lien-top($breakpoints);
}

.restaurant
{

    &__img
    {
        width: 100%;
        margin-top: -1%;
        @include rest-img-height($breakpoints);
    }

    &__cadre
    {
        z-index: 1;
    }
}

.menu
{
    @include flex__column__rel;
    z-index: 3;
    background-color: $gris;
    margin-top: -14%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    @include menu-height($breakpoints)
    {
        @media (min-width:1024px)
        {
            width: 60%;
            margin-left: 20%;
        }  
    }
    
    &__enchantee
    {
        @include menu-enchante-height($breakpoints);
    }

    &__titre
    {
        @include flex__row__space--b;
        font-family: 'Shrikhand', sans-serif;
        @media (min-width:1025px)
        {
            width: 60%;
            padding-top: 3%;
        }

        &__text
        {
            font-size: 25px;
            padding-left: 5%;
            @media (min-width:1025px)
            {
                padding-left: 9%;
            }
        }

        &__icone
        {
            font-size: 20px;
            position: $relative;
            right: 10%;
            top: 35%;
            &__anim
            {
                opacity: 1;
                font-size: 40px;
                position: $relative;
                left: 575px;
                top: 10px;
                @include coeur_anim;
                &__1
                {
                    @include coeur_anim_1;
                    opacity: 0;
                    position: $relative;
                    right: 203px;
                    top: 10px;
                    font-size: 40px;
                    transition: opacity 250ms;
                    &:hover
                    {
                        opacity: 1;
                        color: $couleur_primaire;
                    }
                }

                &:hover
                {
                    opacity: 0;
                }
                    
            }
        }
    }

    &__entrees
    {
        &__titre
        {
            @include menu__titres;
        }

        &__inter
        {
            margin-left: 6%;
            margin-top: -4%;
            width: 15%;
            height: 3px;
            background-color: $couleur_tertiaire;
            @media (min-width:426px) and (max-width:768px)
            {
                margin-top: -1.5%;
                width: 7%;
            }
            @media (min-width:769px) and (max-width:1024px)
            {
                margin-top: -1%;
                width: 4.5%;
            }
            @media (min-width:1025px) and (max-width:1920px)
            {
                margin-top: -0.8%;
                width: 4%;
                margin-left: 45%;
            }
        } 
    }

    &__liste
    {
        @include menu__liste;

        &__carte
        {
            @include menu__cartes;

            %text--cache
            {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            &--gras
            {
                @include menu__cartes__gras;
                @extend %text--cache;
            }

            &__text
            {
                @include menu__cartes__text;
                @extend %text--cache;
            }

            &__prix
            {
                @include menu__cartes__prix($breakpoints);
            }
        }

        &__note
        {
            @media (min-width:426px) and (max-width:1024px)
            {
                height: 400px;
            }
        }
    }

    &__plats
    {
        &__titre
        {
            @include menu__titres;
        }

        &__inter
        {
            margin-left: 6%;
            margin-top: -4%;
            width: 13%;
            height: 3px;
            background-color: $couleur_tertiaire;
            @media (min-width:426px) and (max-width:768px)
            {
                margin-top: -1.5%;
                width: 5%;
            }
            @media (min-width:769px) and (max-width:1024px)
            {
                margin-top: -1%;
                width: 4%;
            }
            @media (min-width:1025px) and (max-width:1920px)
            {
                margin-top: -1%;
                width: 2.8%;
                margin-left: 45%;
            }
        }
    }

    &__desserts
    {
        &__titre
        {
            @include menu__titres;
        }

        &__inter
        {
            margin-left: 6%;
            margin-top: -4%;
            width: 14%;
            height: 3px;
            background-color: $couleur_tertiaire;
            @media (min-width:426px) and (max-width:768px)
            {
                margin-top: -1.5%;
                width: 6%;
            }
            @media (min-width:769px) and (max-width:1024px)
            {
                margin-top: -1%;
                width: 4.5%;
            }
            @media (min-width:1025px) and (max-width:1920px)
            {
                margin-top: -1%;
                width: 3%;
                margin-left: 45%;
            }
        }
    }

    &__btn
    {
        margin-top: 15%;
        width: 25%;
        margin-left: 36%;
        padding-top: 5%;
        @media (max-width: 425px)
        {
            width: 60%;
            margin-left: 20%;
        }
        @media (min-width:426px) and (max-width:768px)
        {
            padding-bottom: 1%;
            margin-top: 9%;
            padding-top: 1%;
        }
        @media (min-width:769px) and (max-width:1024px)
        {
            padding-top: 2%;
            padding-bottom: 4%;
        }
        @media (min-width:1025px) and (max-width:1920px)
        {
            margin-top: 10%;
            padding-top: 2%;
            padding-bottom: 3%;
        }
    }
}

.carte
{
    &__tout
    {
        @include flex__row__fs;
        width: 94%;

        &:hover + .carte--anim
        {
            width: 10%;
            overflow: hidden;
            padding-top: 0%;
            @media (max-width:375px)
            {
                padding-top: 7%;
                width: 15%;
            }
            @media (min-width: 376px) and (max-width: 425px)
            {
                padding-top: 6%;
            }
            @media (min-width:426px) and (max-width: 768px)
            {
                padding-top: 3%;
            }
            @media (min-width:1025px) and (max-width:1920px)
            {
                padding-top: 1%;
            }
            transition: width 1s;
            animation: apparition 1s linear both;
            & > i
            {
                transform: rotate(0deg);
                transition: transform 1s;
                transition-delay: 5s;
                opacity: 1;
                right: 0px;
                transition: right 200ms;
                animation: rotation 500ms linear both;
                @media (min-width:1000px) and (max-width:1024px)
                {
                    padding-top: 26%;
                }
                @media (min-width:1025px) and (max-width:1440px)
                {
                    padding-top: 20%;
                }
                @media (min-width:1441px) and (max-width:1920px)
                {
                    padding-top: 15%;
                }
            }
        }

        &:hover p
        {
            @media (max-width:375px)
            {
                left: 10%;
            }
            @media (min-width:376px) and (max-width:425px)
            {
                left: 15%;
            }
            left: 35%;
            @media (min-width:769px) and (max-width:1920px)
            {
                left: 20%;
            }
            transition: left 1s;
        }
    }

    &__text
    {
        @include flex__column__fs;
        @media (max-width:425px)
        {
            width: 66%;
        }
        @media (min-width:426px) and (max-width:768px)
        {
            width: 52%;
            height: 64px;
        }
        @media (min-width:769px) and (max-width: 1023px)
        {
            width: 52%;
            height: 64px;
        }
        @media (min-width:1024px) and (max-width:1920px)
        {
            height: 54px;
            width: 60%;
        }
    }
    &--anim
    {
        background-color: $couleur_tertiaire;
        width: 0%;
        display: $flex;
        justify-content: $space--a;
        padding-top: 0.6%;
        border-radius: 15px;
        font-size: 25px;
        & > i
        {
            transform: rotate(-180deg);
            color: $blanc;
            opacity: 0;
            position: $relative;
            right: 36px;
        }
    }
}

.anim
{
    margin-top: 10%;
    &__entree
    {
        animation: $menu_comp 500ms;
    }

    &__plat
    {
        animation: $menu_comp 1000ms;
    }
    
    &__dessert
    {
        animation: $menu_comp 1500ms;
    }
}

@keyframes menu
{
    0%
    {
        transform: translateY(0%);
        opacity: 0;
    }
    100%
    {
        transform: translateY(-10%);
        opacity: 1;
    }
}

@keyframes rotation
{
    0%
    {
        transform: rotate(-90deg);
    }
    100%
    {
        transform: rotate(0deg);
    }
}