.header__lien
{
    position: absolute;
    left: 5%;
    top: 3.5%;
    font-size: 20px;
    text-decoration: none;
    color: #353535;
    @media (min-width:321px) and (max-width:375px)
    {
        top: 4.5%;
    }
    @media (min-width:376px) and (max-width:425px)
    {
        top: 5%;
    }
    @media (min-width:426px) and (max-width:768px)
    {
        font-size: 45px;
        top: 8.5%;
    }
    @media (min-width:768px) and (max-width:1024px)
    {
        font-size: 45px;
        top: 4.5%;
    }
    @media (min-width:1025px) and (max-width:1920px)
    {
        font-size: 45px;
        top: 5.5%;
    }
}

.restaurant
{

    &__img
    {
        width: 100%;
        margin-top: -1%;
        height: 250px;
        @media (min-width:426px) and (max-width: 768px)
        {
            height: 420px;
        }
        @media (min-width:769px) and (max-width:1024px)
        {
            height: 500px;
        }
        @media (min-width:1025px) and (max-width:1920px)
        {
            height: 670px;
        }
    }

    &__cadre
    {
        z-index: 1;
    }
    
    
}

.menu
{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 3;
    background-color: #F6F6F6;
    height: 1175px;
    margin-top: -14%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    @media (min-width:321px) and (max-width:375px)
    {
        height: 1240px;
    }
    @media (min-width:376px) and (max-width:425px)
    {
        height: 1300px;
    }
    @media (min-width:426px) and (max-width: 768px)
    {
        height: 1350px;
    }
    @media (min-width:769px) and (max-width:1024px)
    {
        height: 1660px;
    }
    @media (min-width:1025px) and (max-width:1579px)
    {
        height: 2100px;
    }
    @media (min-width:1580px) and (max-width:1660px)
    {
        height: 2160px;
    }
    @media (min-width:1661px) and (max-width:1775px)
    {
        height: 2235px;
    }
    @media (min-width:1776px) and (max-width:1865px)
    {
        height: 2300px;
    }
    @media (min-width:1866px)
    {
        height: 2360px;
    }

    &__enchantee
    {
        height: 1290px;
        @media (min-width:321px) and (max-width:375px)
        {
            height: 1330px;
        }
        @media (min-width:376px) and (max-width:425px)
        {
            height: 1380px;
        }
        @media(min-width: 426px) and (max-width:768px)
        {
            height: 1470px;
        }
        @media (min-width:769px) and (max-width:1024px)
        {
            height: 1760px;
        }
        @media (min-width:1025px) and (max-width:1920px)
        {
            height: 2170px;
        }
    }

    &__titre
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &__text
        {
            font-size: 25px;
            padding-left: 5%;
        }

        &__icone
        {
            font-size: 20px;
            position: relative;
            right: 10%;
            top: 35%;
        }
    }

    &__entrees
    {
        &__titre
        {
            @include menu__titres;
        }

        &__inter
        {
            margin-left: 6%;
            margin-top: -4%;
            width: 15%;
            height: 3px;
            background-color: $couleur_tertiaire;
            @media (min-width:426px) and (max-width:768px)
            {
                margin-top: -1.5%;
                width: 7%;
            }
            @media (min-width:769px) and (max-width:1024px)
            {
                margin-top: -1%;
                width: 4.5%;
            }
            @media (min-width:1025px) and (max-width:1920px)
            {
                margin-top: -0.8%;
                width: 4%;
            }
        }

        
    }

    &__liste
    {
        @include menu__liste;

        &__carte
        {
            @include menu__cartes;

            &--gras
            {
                @include menu__cartes__gras;
            }

            &__text
            {
                @include menu__cartes__text
            }

            &__prix
            {
                @include menu__cartes__prix;
            }
        }

        &__note
        {
            @media (min-width:426px) and (max-width:768px)
            {
                height: 400px;
            }
            @media (min-width:769px) and (max-width:1024px)
            {
                height: 400px;
            }
        }
    }

    &__plats
    {
        &__titre
        {
            @include menu__titres;
        }

        &__inter
        {
            margin-left: 6%;
            margin-top: -4%;
            width: 13%;
            height: 3px;
            background-color: $couleur_tertiaire;
            @media (min-width:426px) and (max-width:768px)
            {
                margin-top: -1.5%;
                width: 5%;
            }
            @media (min-width:769px) and (max-width:1024px)
            {
                margin-top: -1%;
                width: 4%;
            }
            @media (min-width:1025px) and (max-width:1920px)
            {
                margin-top: -1%;
                width: 2.8%;
            }
        }
    }

    &__desserts
    {
        &__titre
        {
            @include menu__titres;
        }

        &__inter
        {
            margin-left: 6%;
            margin-top: -4%;
            width: 14%;
            height: 3px;
            background-color: $couleur_tertiaire;
            @media (min-width:426px) and (max-width:768px)
            {
                margin-top: -1.5%;
                width: 6%;
            }
            @media (min-width:769px) and (max-width:1024px)
            {
                margin-top: -1%;
                width: 4.5%;
            }
            @media (min-width:1025px) and (max-width:1920px)
            {
                margin-top: -1%;
                width: 3%;
            }
        }
    }

    &__btn
    {
        margin-top: 15%;
        width: 60%;
        margin-left: 20%;
        padding-top: 5%;
        @media (min-width:426px) and (max-width:768px)
        {
            padding-bottom: 1%;
            margin-top: 9%;
            width: 25%;
            margin-left: 36%;
            padding-top: 1%;
        }
        @media (min-width:769px) and (max-width:1024px)
        {
            width: 25%;
            margin-left: 36%;
            padding-top: 2%;
            padding-bottom: 4%;
        }
        @media (min-width:1025px) and (max-width:1920px)
        {
            width: 25%;
            margin-top: 10%;
            margin-left: 36%;
            padding-top: 2%;
            padding-bottom: 3%;
        }
    }

    &__bouton
    {
        padding: 0%;
        border-color: transparent;
        width: 98%;
        background-color: transparent;
        text-align: left;
        &:active
        {
            background-color: lightgreen;
        }

        &:focus
        {
            background-color: lightseagreen;
        }
    }
}