@font-face {
  font-family: "Roboto";
  src: url("/public/Police/Roboto/Roboto-Regular.ttf") format("trueType");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Shrikhand";
  src: url("/public/Police/Shrikhand/Shrikhand-Regular.ttf") format("trueType");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Roboto", sans-serif;
}

footer > p {
  font-family: "Shrikhand", sans-serif;
}

@media (max-width: 1920px) {
  .btn {
    padding-left: 2%;
    padding-top: 8%;
    padding-bottom: 8%;
    height: 51px;
    border-radius: 25px;
    width: 115%;
    background: linear-gradient(to bottom, #FF79DA, #9356DC);
    color: white;
    border-color: #F6F6F6;
    position: relative;
    z-index: 1;
    transition: opacity 250ms;
    transition: box-shadow 300ms;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .btn:hover {
    opacity: 0.9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
  }
}

.header {
  display: flex;
  justify-content: center;
  padding-bottom: 4%;
  margin-bottom: 1%;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.18);
}
@media (min-width: 769px) and (max-width: 1920px) {
  .header {
    padding-bottom: 2%;
  }
}
@media (max-width: 768px) {
  .header__logo {
    width: 50%;
    padding-top: 8%;
  }
}
@media (min-width: 769px) and (max-width: 1920px) {
  .header__logo {
    padding-top: 2%;
  }
}

.location {
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  color: #353535;
}
@media (min-width: 426px) and (max-width: 1920px) {
  .location {
    margin-top: -1%;
  }
}
@media (max-width: 1920px) {
  .location__icone {
    padding-right: 10px;
  }
}

@media (max-width: 1920px) {
  .explorestau {
    height: 285px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F6F6F6;
    text-align: center;
    color: #353535;
  }
}
@media (min-width: 426px) and (max-width: 1920px) {
  .explorestau {
    height: 255px;
  }
}
.explorestau--gras {
  padding-top: 5%;
  margin-bottom: 0%;
  font-size: 25px;
  font-weight: bold;
}
@media (min-width: 426px) and (max-width: 1920px) {
  .explorestau--gras {
    padding-top: 1%;
  }
}
.explorestau__btn {
  margin-top: 5%;
  margin-left: -6%;
}

.fonction__liste {
  padding-left: 7%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 215px;
  width: 88%;
}
@media (min-width: 769px) and (max-width: 1024px) {
  .fonction__liste {
    height: 225px;
    flex-direction: row;
  }
}
@media (min-width: 1025px) and (max-width: 1920px) {
  .fonction__liste {
    height: 200px;
    padding-left: 17%;
    flex-direction: row;
    width: 65%;
  }
}
.fonction__carte {
  /*&__numero--1
  {
      position: absolute;
      background-color: $couleur_primaire;
      color: white;
      padding: 3px 8px;
      border-radius: 50%;
      left: 2.5%;
      top: 62.7%;
  }

  &__numero--2
  {
      position: absolute;
      background-color: $couleur_primaire;
      color: white;
      padding: 3px 8px;
      border-radius: 50%;
      left: 2.5%;
      top: 74.7%;
  }

  &__numero--3
  {
      position: absolute;
      background-color: $couleur_primaire;
      color: white;
      padding: 3px 8px;
      border-radius: 50%;
      left: 2.5%;
      top: 86.7%;
  }*/
  padding-top: 3%;
  padding-left: 10%;
  padding-bottom: 0%;
  border-radius: 18px;
  width: 84%;
  background-color: #F6F6F6;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.fonction__carte__icone {
  padding-right: 8%;
  margin-top: 4%;
  margin-left: -15%;
  color: #353535;
  /*@media (min-width:426px) and (max-width:768px)
  {
      margin-left: -19%;
  }*/
}
@media (min-width: 321px) and (max-width: 425px) {
  .fonction__carte__icone {
    margin-left: -12%;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .fonction__carte__icone {
    margin-left: -35%;
  }
}
@media (min-width: 1025px) and (max-width: 1920px) {
  .fonction__carte__icone {
    margin-left: -44%;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .fonction__carte {
    width: 64%;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .fonction__carte {
    width: 40%;
    padding-top: 1%;
    padding-bottom: 1%;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .fonction__carte {
    width: 22%;
    padding-top: 1%;
  }
}
@media (min-width: 1025px) and (max-width: 1920px) {
  .fonction__carte {
    width: 21%;
    padding-top: 1%;
  }
}
.fonction--gras {
  font-size: 25px;
  font-weight: bold;
  margin-top: 15%;
  padding-left: 5%;
}
@media (min-width: 426px) and (max-width: 768px) {
  .fonction--gras {
    padding-left: 15%;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .fonction--gras {
    padding-left: 41%;
    margin-top: 10%;
  }
}
@media (min-width: 1025px) and (max-width: 1920px) {
  .fonction--gras {
    margin-top: 7%;
    padding-left: 43%;
    margin-bottom: 0;
  }
}

ul {
  list-style-type: none;
}

li {
  counter-increment: list;
}

li::before {
  content: counter(list);
  /*border: 2px solid red;*/
  border-radius: 50%;
  margin-right: 0.5rem;
  padding: 0.2rem 0.5rem;
  position: relative;
  top: 2%;
  left: -19%;
  background-color: #9356DC;
  color: white;
}
@media (min-width: 321px) and (max-width: 375px) {
  li::before {
    left: -16%;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  li::before {
    left: -20%;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  li::before {
    left: -30%;
    top: 7%;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  li::before {
    left: -50%;
  }
}
@media (min-width: 1025px) and (max-width: 1920px) {
  li::before {
    left: -54%;
    top: -3%;
  }
}

@media (max-width: 320px) {
  .restaurants {
    background-color: #F6F6F6;
    margin-top: 11%;
    height: 1360px;
  }
}
.restaurants--gras {
  padding-left: 5%;
  padding-top: 15%;
  font-size: 25px;
  font-weight: bold;
}
@media (min-width: 426px) and (max-width: 768px) {
  .restaurants--gras {
    padding-left: 15%;
    padding-top: 10%;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .restaurants--gras {
    padding-left: 42%;
    padding-top: 0%;
    padding-bottom: 8%;
  }
}
@media (min-width: 1025px) and (max-width: 1920px) {
  .restaurants--gras {
    padding-left: 44%;
    padding-top: 3%;
    padding-bottom: 8%;
  }
}
.restaurants__liste {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 769px) and (max-width: 1920px) {
  .restaurants__liste {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.restaurants__carte {
  margin-bottom: 6%;
  width: 90%;
  display: flex;
  flex-direction: column;
}
@media (min-width: 426px) and (max-width: 768px) {
  .restaurants__carte {
    width: 70%;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .restaurants__carte {
    width: 40%;
    margin-left: 5%;
  }
}
@media (min-width: 1025px) and (max-width: 1920px) {
  .restaurants__carte {
    width: 30%;
    margin-left: 12%;
  }
}
.restaurants__carte__img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}
@media (max-width: 425px) {
  .restaurants__carte__img {
    height: 200px;
  }
}
@media (min-width: 426px) and (max-width: 1920px) {
  .restaurants__carte__img {
    height: 295px;
  }
}
.restaurants__carte__aside {
  margin-top: -1%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 4%;
  padding-right: 6%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.restaurants__carte__info {
  display: flex;
  flex-direction: column;
}
.restaurants__carte__info--gras {
  font-weight: bold;
  margin-bottom: -5%;
}
.restaurants__carte__info--heart {
  font-size: 25px;
}
.restaurants__carte__info--heart__anim__1 {
  opacity: 0;
  position: relative;
  right: 25px;
  transition: opacity 250ms;
}
.restaurants__carte__info--heart__anim__1:hover {
  opacity: 1;
  color: #9356DC;
}
.restaurants__carte__info--heart__anim:hover {
  opacity: 0;
}
.restaurants__carte--lien {
  text-decoration: none;
  color: black;
}

.section {
  background-color: #EAEAEA;
  height: 2166.32px;
  width: 100%;
  line-height: 500px;
  animation: disappear 1s 2.5s linear both;
  position: absolute;
  top: 0;
  z-index: 1;
  /*@media (min-width: 1025px) and (max-width: 1440px)
  {
      height: 2253.3px;
  }*/
}
@media (max-width: 320px) {
  .section {
    height: 2338.66px;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .section {
    height: 2301.42px;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .section {
    height: 2344.03px;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .section {
    height: 2915.25px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .section {
    height: 2104.67px;
  }
}
@media (min-width: 1441px) and (max-width: 1920px) {
  .section {
    height: 2166.32px;
  }
}

.loader {
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.loader-circles {
  border-radius: 50px;
  border: 3px solid transparent;
  border-top-color: #9356DC;
  animation: spin 1s linear infinite;
  margin-right: 1%;
}
@media (max-width: 320px) {
  .loader-circles {
    margin-left: 20%;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .loader-circles {
    margin-left: 25%;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .loader-circles {
    margin-left: 28%;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .loader-circles {
    margin-left: 38%;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .loader-circles {
    margin-left: 43%;
  }
}
@media (min-width: 1025px) and (max-width: 1920px) {
  .loader-circles {
    margin-left: 45%;
  }
}
.loader-circles::after {
  content: "";
  position: absolute;
  top: 5px;
  bottom: 5px;
  right: 5px;
  left: 5px;
  border-radius: 50px;
  border: 3px solid transparent;
  border-top-color: #FF79DA;
  opacity: 0.8;
  animation: spin 5s linear infinite;
}
.loader-circles::before {
  content: "";
  position: absolute;
  top: 13px;
  bottom: 13px;
  right: 13px;
  left: 13px;
  border-radius: 50px;
  border: 3px solid transparent;
  border-top-color: #99E2D0;
  opacity: 0.6;
  animation: spin 10s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
.header__lien {
  position: absolute;
  left: 5%;
  top: 3.5%;
  font-size: 20px;
  text-decoration: none;
  color: #353535;
}
@media (min-width: 321px) and (max-width: 375px) {
  .header__lien {
    top: 4.5%;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .header__lien {
    top: 5%;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .header__lien {
    font-size: 45px;
    top: 8.5%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .header__lien {
    font-size: 45px;
    top: 4.5%;
  }
}
@media (min-width: 1025px) and (max-width: 1920px) {
  .header__lien {
    font-size: 45px;
    top: 5.5%;
  }
}

.restaurant__img {
  width: 100%;
  margin-top: -1%;
  height: 250px;
}
@media (min-width: 426px) and (max-width: 768px) {
  .restaurant__img {
    height: 420px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .restaurant__img {
    height: 500px;
  }
}
@media (min-width: 1025px) and (max-width: 1920px) {
  .restaurant__img {
    height: 670px;
  }
}
.restaurant__cadre {
  z-index: 1;
}

.menu {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 3;
  background-color: #F6F6F6;
  height: 1175px;
  margin-top: -14%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
@media (max-width: 320px) {
  .menu {
    height: 1390px;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .menu {
    height: 1470px;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .menu {
    height: 1560px;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .menu {
    height: 1630px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .menu {
    height: 1660px;
  }
}
@media (min-width: 1025px) and (max-width: 1579px) {
  .menu {
    height: 1780px;
  }
}
@media (min-width: 1580px) and (max-width: 1660px) {
  .menu {
    height: 2160px;
  }
}
@media (min-width: 1661px) and (max-width: 1775px) {
  .menu {
    height: 2235px;
  }
}
@media (min-width: 1776px) and (max-width: 1865px) {
  .menu {
    height: 2300px;
  }
}
@media (min-width: 1866px) {
  .menu {
    height: 2360px;
  }
}
@media (min-width: 1024px) {
  .menu {
    width: 60%;
    margin-left: 20%;
  }
}
.menu__enchantee {
  /*height: 1290px;*/
}
@media (max-width: 320px) {
  .menu__enchantee {
    height: 1500px;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .menu__enchantee {
    height: 1560px;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .menu__enchantee {
    height: 1650px;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .menu__enchantee {
    height: 1720px;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .menu__enchantee {
    /*height: 1760px;*/
    height: 2070px;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .menu__enchantee {
    height: 1950px;
  }
}
@media (min-width: 1441px) and (max-width: 1920px) {
  .menu__enchantee {
    height: 2170px;
  }
}
.menu__titre {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Shrikhand", sans-serif;
}
@media (min-width: 1025px) {
  .menu__titre {
    width: 60%;
    padding-top: 3%;
  }
}
.menu__titre__text {
  font-size: 25px;
  padding-left: 5%;
}
@media (min-width: 1025px) {
  .menu__titre__text {
    padding-left: 9%;
  }
}
.menu__titre__icone {
  font-size: 20px;
  position: relative;
  right: 10%;
  top: 35%;
}
.menu__titre__icone__anim {
  opacity: 1;
  font-size: 40px;
  position: relative;
  left: 575px;
  top: 10px;
}
@media (max-width: 614px) {
  .menu__titre__icone__anim {
    left: 30px;
  }
}
@media (min-width: 615px) and (max-width: 1024px) {
  .menu__titre__icone__anim {
    left: 150px;
  }
}
@media (min-width: 1025px) and (max-width: 1265px) {
  .menu__titre__icone__anim {
    left: 265px;
  }
}
@media (min-width: 1266px) and (max-width: 1440px) {
  .menu__titre__icone__anim {
    left: 380px;
  }
}
@media (min-width: 1025px) and (max-width: 1765px) {
  .menu__titre__icone__anim {
    left: 425px;
  }
}
.menu__titre__icone__anim__1 {
  opacity: 0;
  position: relative;
  right: 203px;
  top: 10px;
  font-size: 40px;
  transition: opacity 250ms;
}
.menu__titre__icone__anim__1:hover {
  opacity: 1;
  color: #9356DC;
}
.menu__titre__icone__anim:hover {
  opacity: 0;
}
.menu__entrees__titre {
  margin-top: 15%;
  padding-left: 6%;
  color: #4C4C4C;
}
@media (min-width: 426px) and (max-width: 768px) {
  .menu__entrees__titre {
    margin-top: 7%;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .menu__entrees__titre {
    margin-top: 11%;
  }
}
@media (min-width: 1025px) and (max-width: 1920px) {
  .menu__entrees__titre {
    margin-top: 9%;
    width: 10%;
    padding-left: 45%;
  }
}
.menu__entrees__inter {
  margin-left: 6%;
  margin-top: -4%;
  width: 15%;
  height: 3px;
  background-color: #99E2D0;
}
@media (min-width: 426px) and (max-width: 768px) {
  .menu__entrees__inter {
    margin-top: -1.5%;
    width: 7%;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .menu__entrees__inter {
    margin-top: -1%;
    width: 4.5%;
  }
}
@media (min-width: 1025px) and (max-width: 1920px) {
  .menu__entrees__inter {
    margin-top: -0.8%;
    width: 4%;
    margin-left: 45%;
  }
}
.menu__liste {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 426px) and (max-width: 1024px) {
  .menu__liste {
    height: 287px;
  }
}
.menu__liste__carte {
  background-color: white;
  border-radius: 15px;
  margin-top: 5%;
  padding-left: 3%;
  width: 94%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 425px) {
  .menu__liste__carte {
    height: 74px;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .menu__liste__carte {
    padding-bottom: 0.5%;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .menu__liste__carte {
    padding-bottom: 1%;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .menu__liste__carte {
    margin-top: 3%;
    width: 80%;
  }
}
@media (min-width: 769px) and (max-width: 1920px) {
  .menu__liste__carte {
    width: 80%;
  }
}
@media (min-width: 769px) and (max-width: 1330px) {
  .menu__liste__carte {
    width: 79%;
    height: 19%;
  }
}
@media (min-width: 1331px) and (max-width: 1920px) {
  .menu__liste__carte {
    width: 56%;
  }
}
.menu__liste__carte--gras {
  font-weight: bold;
  margin-top: 0%;
  margin-bottom: -2%;
  padding-top: 5%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media (min-width: 426px) and (max-width: 768px) {
  .menu__liste__carte--gras {
    margin-bottom: 2%;
    padding-top: 2%;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .menu__liste__carte--gras {
    padding-top: 3%;
    margin-bottom: -1%;
  }
}
@media (min-width: 1025px) and (max-width: 1920px) {
  .menu__liste__carte--gras {
    padding-top: 1%;
    margin-bottom: -0.8%;
  }
}
.menu__liste__carte__text {
  font-size: 14px;
  margin-bottom: -8%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media (min-width: 426px) and (max-width: 768px) {
  .menu__liste__carte__text {
    margin-bottom: -3%;
  }
}
@media (min-width: 769px) and (max-width: 1920px) {
  .menu__liste__carte__text {
    margin-bottom: -2%;
  }
}
.menu__liste__carte__prix {
  width: 10%;
  position: relative;
  margin-bottom: 0%;
  left: 85%;
  bottom: 10px;
  left: 60%;
  bottom: 5px;
}
@media (max-width: 425px) {
  .menu__liste__carte__prix {
    left: 25%;
  }
}
@media (min-width: 426px) {
  .menu__liste__carte__prix {
    left: 41%;
  }
}
@media (min-width: 769px) and (max-width: 1440px) {
  .menu__liste__carte__prix {
    left: 30%;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .menu__liste__note {
    height: 400px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .menu__liste__note {
    height: 400px;
  }
}
.menu__plats__titre {
  margin-top: 15%;
  padding-left: 6%;
  color: #4C4C4C;
}
@media (min-width: 426px) and (max-width: 768px) {
  .menu__plats__titre {
    margin-top: 7%;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .menu__plats__titre {
    margin-top: 11%;
  }
}
@media (min-width: 1025px) and (max-width: 1920px) {
  .menu__plats__titre {
    margin-top: 9%;
    width: 10%;
    padding-left: 45%;
  }
}
.menu__plats__inter {
  margin-left: 6%;
  margin-top: -4%;
  width: 13%;
  height: 3px;
  background-color: #99E2D0;
}
@media (min-width: 426px) and (max-width: 768px) {
  .menu__plats__inter {
    margin-top: -1.5%;
    width: 5%;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .menu__plats__inter {
    margin-top: -1%;
    width: 4%;
  }
}
@media (min-width: 1025px) and (max-width: 1920px) {
  .menu__plats__inter {
    margin-top: -1%;
    width: 2.8%;
    margin-left: 45%;
  }
}
.menu__desserts__titre {
  margin-top: 15%;
  padding-left: 6%;
  color: #4C4C4C;
}
@media (min-width: 426px) and (max-width: 768px) {
  .menu__desserts__titre {
    margin-top: 7%;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .menu__desserts__titre {
    margin-top: 11%;
  }
}
@media (min-width: 1025px) and (max-width: 1920px) {
  .menu__desserts__titre {
    margin-top: 9%;
    width: 10%;
    padding-left: 45%;
  }
}
.menu__desserts__inter {
  margin-left: 6%;
  margin-top: -4%;
  width: 14%;
  height: 3px;
  background-color: #99E2D0;
}
@media (min-width: 426px) and (max-width: 768px) {
  .menu__desserts__inter {
    margin-top: -1.5%;
    width: 6%;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .menu__desserts__inter {
    margin-top: -1%;
    width: 4.5%;
  }
}
@media (min-width: 1025px) and (max-width: 1920px) {
  .menu__desserts__inter {
    margin-top: -1%;
    width: 3%;
    margin-left: 45%;
  }
}
.menu__btn {
  margin-top: 15%;
  width: 60%;
  margin-left: 20%;
  padding-top: 5%;
}
@media (min-width: 426px) and (max-width: 768px) {
  .menu__btn {
    padding-bottom: 1%;
    margin-top: 9%;
    width: 25%;
    margin-left: 36%;
    padding-top: 1%;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .menu__btn {
    width: 25%;
    margin-left: 36%;
    padding-top: 2%;
    padding-bottom: 4%;
  }
}
@media (min-width: 1025px) and (max-width: 1920px) {
  .menu__btn {
    width: 25%;
    margin-top: 10%;
    margin-left: 36%;
    padding-top: 2%;
    padding-bottom: 3%;
  }
}
.menu__bouton {
  padding: 0%;
  border-color: transparent;
  width: 98%;
  background-color: transparent;
  text-align: left;
}
.menu__bouton:active {
  background-color: lightgreen;
}
.menu__bouton:focus {
  background-color: lightseagreen;
}

.carte__tout {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 94%;
}
.carte__tout:hover + .carte--anim {
  /*width: 0%;*/
  width: 5%;
  overflow: hidden;
  transition: width 1s;
  animation: apparition 1s linear both;
}
@media (max-width: 1920px) {
  .carte__tout:hover + .carte--anim {
    width: 10%;
    /*padding-top: 2%;*/
  }
}
.carte__tout:hover + .carte--anim > i {
  transform: rotate(0deg);
  transition: transform 1s;
  opacity: 1;
}
@media (min-width: 1000px) and (max-width: 1024px) {
  .carte__tout:hover + .carte--anim > i {
    padding-top: 26%;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .carte__tout:hover + .carte--anim > i {
    padding-top: 20%;
  }
}
@media (min-width: 1441px) and (max-width: 1920px) {
  .carte__tout:hover + .carte--anim > i {
    padding-top: 15%;
  }
}
.carte__tout:hover p {
  left: 35%;
  transition: left 1s;
}
@media (min-width: 769px) and (max-width: 1440px) {
  .carte__tout:hover p {
    left: 20%;
  }
}
@media (min-width: 1441px) and (max-width: 1920px) {
  .carte__tout:hover p {
    left: 30%;
  }
}
.carte__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
@media (max-width: 425px) {
  .carte__text {
    width: 66%;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .carte__text {
    width: 52%;
    height: 64px;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .carte__text {
    width: 52%;
    height: 64px;
  }
}
@media (min-width: 1024px) and (max-width: 1025px) {
  .carte__text {
    height: 54px;
    width: 60%;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .carte__text {
    height: 54px;
    width: 59%;
  }
}
.carte--anim {
  background-color: #99E2D0;
  /*width: 5%;*/
  width: 0%;
  display: flex;
  justify-content: space-around;
  padding-top: 0.6%;
  border-radius: 15px;
  font-size: 25px;
}
.carte--anim > i {
  transform: rotate(-90deg);
  color: white;
  opacity: 0;
}

#anim__entree {
  margin-top: 10%;
  animation: menu 1s 500ms linear both;
}
#anim__plat {
  margin-top: 10%;
  animation: menu 1s 1000ms linear both;
}
#anim__dessert {
  margin-top: 10%;
  animation: menu 1s 1500ms linear both;
}

@keyframes menu {
  0% {
    transform: translateY(0%);
    opacity: 0;
  }
  100% {
    transform: translateY(-10%);
    opacity: 1;
  }
}
@media (max-width: 1920px) {
  .footer {
    display: flex;
    flex-direction: column;
    background-color: #353535;
    color: white;
    padding-left: 9%;
    padding-top: 5%;
    padding-bottom: 10%;
    justify-content: space-between;
    height: 174px;
  }
}
@media (max-width: 1920px) and (min-width: 426px) and (max-width: 1920px) {
  .footer {
    align-items: center;
    padding-left: 0%;
    padding-bottom: 5%;
  }
}
@media (max-width: 1920px) {
  .footer--lien {
    text-decoration: none;
    color: white;
  }
}
@media (max-width: 1920px) {
  .footer > i {
    padding-right: 1%;
  }
}

/*# sourceMappingURL=style.css.map */
