.footer
{
    @media (max-width:1920px)
    {
        @include flex__column__space--b;
        background-color: $gris--fonce;
        color: $blanc;
        padding-left: 9%;
        padding-top: 5%;
        padding-bottom: 10%;
        height: 174px;
        @media (min-width:426px) and (max-width:1920px)
        {
            align-items: $center;
            padding-left: 0%;
            padding-bottom: 5%;
        }

        &--lien
        {
            text-decoration: $rien;
            color: $blanc;

        }

        & > i
        {
            padding-right: 1%;
        }
    }
}