.footer
{
    @media (max-width:1440px)
    {
        display: flex;
        flex-direction: column;
        background-color: #353535;
        color: white;
        padding-left: 9%;
        padding-top: 5%;
        padding-bottom: 10%;
        justify-content: space-between;
        height: 174px;
        @media (min-width:426px) and (max-width:1440px)
        {
            align-items: center;
            padding-left: 0%;
            padding-bottom: 5%;
        }

        &--lien
        {
            text-decoration: none;
            color: white;

        }

        & > i
        {
            padding-right: 1%;
        }
    }
}