.header
{
    display: flex;
    justify-content: center;
    padding-bottom: 4%;
    margin-bottom: 1%;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.18);
    @media (min-width:769px) and (max-width: 1920px)
    {
        padding-bottom: 2%;
    }

    &__logo
    {
        @media (max-width:768px)
        {
            width: 50%;
            padding-top: 8%;
        }
        @media (min-width:769px) and (max-width:1920px)
        {
            padding-top: 2%;
        }
    }
}